body {
    background-image: url("../images/uh\ oh\ stinky.jpg");
    background-repeat: no-repeat, repeat;
  }
  h1 {
      display: block;
    text-align: center;
    margin-top: 380px;
    margin-bottom: -380px;
    font-size: 4vw;
    color:black;
}
button {
    color: white;
    background-color:gray;
    font-size: 2vw;
    border-radius: 18px ;
    border: none;
}
button:hover {
    cursor: pointer;
    color: black;
}
