body {
    font-family: 'Patua One', cursive;
    background-color: black;
}
body.about-me {
    font-size: 30px;
    color:wheat;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 90px;
}
h2 {
    margin-left: 0px;
}

a.games {
    text-decoration: none;
    color: teal;
}
a.games:hover {
    color:darkslategrey;
}
a:hover {
    color: darkgoldenrod;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    text-decoration: none;
}
li {
    font-size: 3vw;
    margin-left: 35px;
    display: inline-block;
}














 

header .mobile {
    display: none;
}

@media screen and (max-width: 715px) {
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}
 @media screen and (max-width: 715px) {
   h1  {
       font-size: 10vw;
       margin-top: 320px;
   }
   li {
       font-size: 4vw;
       margin-bottom: 4px;
   }
}
